.contact_section {
    color: #fff;
    margin: 150px;
}

.contact_row {
    align-items: center;
    height: 50vh;
}

.row {
    display: flex;
    margin-right: -15px;
    margin-bottom: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
    align-content: stretch;
}

.col {
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1;
    max-width: 50%;
    flex-basis: 50%;
}

.contact_text-wrapper {
    max-width: 540px;
    padding-top: 0;
    padding-bottom: 60px;
}

.top-line {
    color: #f00946;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.heading {
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 600;
    color: #f7f8fa;
}

.dark {
    color: #1c2237;
}

.darkBg {
    background-color: #1c2237;
}

.contact_subtitle {
    max-width: 440px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 24px;
}


@media screen and (max-width: 991px) {
    .container {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media screen and (max-width: 768px) {
    .contact__hero-text-wrapper {
        padding-bottom: 65px;
    }

    .col {
        max-width: 100%;
        flex-basis: 100%;
    }
}



.contact__wrap {
    text-align: center;
    transform: translateY(10%);
}

.contact__wrap h1 {
    font-size: 56px;
    margin-bottom: 50px;
}

.contact__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.contact__form input {
    height: 35px;
    border: 2px solid #1c2237;
    padding-left: 5px;
    margin-bottom: 10px;
    transition: .2s;
}

.contact__form input:hover {
    border: 2px solid #322828;
}

.contact__form input::placeholder {
    text-transform: uppercase;
    font-size: 12px;
}

.contact__form textarea {
    height: 150px;
    resize: none;
    border: 2px solid #1c2237;
    padding-left: 5px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.contact__form textarea::placeholder {
    text-transform: uppercase;
    font-size: 12px;
}

.contact__form textarea:hover {
    border: 2px solid #322828;
}

.contact__form input[type="submit"] {
    height: 40px;
    font-size: 14px;
    background-color: #1c2237;
    color: white;
    text-transform: uppercase;
    width: 50%;
    transition: .2s;
}

.contact__form input[type="submit"]:hover {
    font-size: 16px;
    border: 0;
}

*:focus {
    outline: #ff8080 auto 1px;
}

.fa-instagram {
    position: absolute;
    top: 3%;
    right: 2%;
    font-size: 38px;
}

.fa-instagram:hover {
    font-size: 42px;
    color: #ff8080;
    transition: all .1s linear;
    cursor: pointer;
}